<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @order.product %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @order.vendor %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.price %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
